/** Meus estilos css**/

.separador {
  display: block;
  height: 40px;
}

.my-btn-primary {
  background-color: #481CA6;
  color: azure;
}

.my-btn-primary:hover {
  background-color: #5c38aa;
  color: azure;
}

.erro-login {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #E74C3C;
  font-size: large;
}