/** Meus estilos css**/
.my-invalid-feedback {
  color: #E74C3C;
}

.btn-circle {
  background-color: #0BD953;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: azure;
}

.btn-circle:hover {
  background-color: #54e486;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: azure;
}

.adicionar-registro {
  margin: 28px;
  float: right;
}

.separador {
  display: block;
  height: 40px;
}

.simbolo-logo {
  margin: 8px;
}

.title-page {
  margin-top: 18px;
}

.my-active {
  color: #481CA6;
}

.my-btn-primary {
  background-color: #481CA6;
  color: azure;
}

.my-btn-primary:hover {
  background-color: #5c38aa;
  color: azure;
}

.my-btn-save {
  background-color: #0BD953;
  color: azure;
}

.my-btn-save:hover {
  background-color: #54e486;
  color: azure;
}

.erro-login {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #E74C3C;
  font-size: large;
}